/* Adjust spacing and default colors of navigation bar */

.justify-content-center.nav.nav-pills{
  margin-bottom: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #424242; /* #456888 */
  border: 2px #303030 solid; /* #38465c */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.nav-link:focus{
  color:white;
}

.nav-item a{
  color: white;
}

.nav-item a:hover{
  color: white;
}

.nav-item:first-child{
  font-weight: 700;
  padding-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #00000047;
}

/* Create some space between radio buttons */

.radio-button{
  margin-right: 15px;
}

input[type="checkbox"]{
  margin-right: 5px;
}

/* Styling for country selection box in comparison screen */

.country-selection-instruction {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f2f2f2;
  padding-top: 15px;
}

.country-selection-box {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f2f2f2;
  padding-top: 15px;
}

.country-selection-row {
  margin-bottom: 15px;
}

/* Styling for attitude dropdown list */

#attitude-dropwdown {
  max-width: 400px;
  margin: auto;
}

/* Styling for custom graph titles */

.custom-graph-title {
  margin: auto;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  font-family: "Open Sans", verdana, arial, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
